html,body {-webkit-text-size-adjust:none}
/*developer-1: customize for message title*/
main#main .group-message .panel-title{font-size:20px}

/*developer-1: customize for input-file*/
.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;background:white;cursor:inherit;display:block}

/*developer-1: add more customize styles*/
#report .panel-body table td{white-space:nowrap}
/*.wrap-center,.wrap-message{margin:20px auto}*/
.trace-error{font-size:12px}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{cursor:pointer;text-decoration:none}
.nav-tabs>li>a,a.accordion-toggle{text-decoration:none}
.sidebar a{text-decoration:none}
header.header .btn-default:focus,header.header .btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}
header.header{z-index:9992}
header.header>.pull-right{clear:left}
.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:1px}
.m-0{margin:0!important}
.mt-0{margin-top:0!important}
.mr-0{margin-right:0!important}
.mb-0{margin-bottom:0!important}
.ml-0{margin-left:0!important}
.p-0{padding:0!important}
.pt-0{padding-top:0!important}
.pr-0{padding-right:0!important}
.pb-0{padding-bottom:0!important}
.pl-0{padding-left:0!important}

.mt-15{margin-top:15px!important}
.mr-15{margin-right:15px!important}
.mb-15{margin-bottom:15px!important}
.ml-15{margin-left:15px!important}
.pt-15{padding-top:15px!important}
.pr-15{padding-right:15px!important}
.pb-15{padding-bottom:15px!important}
.pl-15{padding-left:15px!important}

.mt-20{margin-top:20px!important}
.mr-20{margin-right:20px!important}
.mb-20{margin-bottom:20px!important}
.ml-20{margin-left:20px!important}
.pt-20{padding-top:20px!important}
.pr-20{padding-right:20px!important}
.pb-20{padding-bottom:20px!important}
.pl-20{padding-left:20px!important}

.loading-tab-content{font-weight:normal}
textarea{resize:vertical;max-height:500px}

/*developer-1: fix position for bootbox*/
.bootbox{z-index:10000}
.modal{z-index:10000;margin-top:66px}
.modal-backdrop{z-index:9999}
.navigation-lg body:before{z-index:9998}

/*developer-1: add new number for chat menu-icon*/
header.header .message-count{background-color:#f44336;color:#fff;border-radius:5px;font-size:10px;line-height:1;position:absolute;padding:5px;top:-10px;right:-10px;z-index:10}

/*developer-1: custom for chat menu-icon*/
header.header .btn-messages{line-height:1.42857!important}

/*developer-1: custom for table show list messages*/
.list-other-message .table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border:0}

/*developer-1: custom for list message blocks*/
.message-item .message-files{font-size:12px}
.message-item .panel-body{min-height:120px}

/*developer-1: custom for formbuilder*/
.fb-main .fb-button{text-align:left;padding-left:20px;padding-right:5px}
.fb-main .item-ontwerp .fb-button{padding: 1px 5px;}
.form-view .fb-field-wrapper, .form-edit .fb-left{padding-left:0px}

/*developer-1: custom for tabs*/
.inner-content th.text-number, .inner-content td.text-number {white-space:nowrap;max-width:60px!important}
.inner-content th.action-edit, .inner-content td.action-edit {max-width:30px!important}
.inner-content th.action-delete, .inner-content td.action-delete {max-width:30px!important}
.inner-content div[data-block-id="casus_messages_document_list"] .table-bordered>tbody>tr>td, 
.inner-content div[data-block-id="casus_message_list"] .table-bordered>tbody>tr>td{border:none}
.inner-content .tab .glyphicon-user{width:20px;height:20px}
#plan_print_text{overflow:auto}
#plan_print_text table{margin-bottom:10px;width:100%!important;height:auto!important}

/*developer-1: custom for select2*/
.inner-content .select2-container--default .select2-selection--single{border-color:#ddd}
.select2-container{z-index:9991}

.inner-content table td.date-time{max-width:145px}
.inner-content .list-site-config li:hover {background-color:#f5f5f5}

/*developer-1: #305*/
body#login{background-color:#fff}

/*developer-1: casetype-plus*/
.casetype-plus .select2{width:100%!important}
.casetype-plus .feature-item label{font-weight:normal}
.casetype-plus hr{margin-top:10px;margin-bottom:10px}
.casetype-plus .child-item{display:none}
.casetype-plus #survey_link{width:100%}
tr.not-done a{color:#f0ad4e}
tr.not-done em{color:#d9534f}

/*developer-1: custom for tag pre*/
pre{white-space:pre-wrap;word-break:normal}
pre:first-child{padding-top:60px}

.inner-content .switch-control.disabled{opacity:0.5}

.homepage .block-item{overflow-x:auto}

/*developer-1: #704 add-btn-icon-right*/
.btn.btn-icon-right .glyphicon {margin-left:10px}

/*developer-1: #563 custom avatar img*/
img.user-avatar {border:1px solid #ddd; width:100px; height:100px;}

/*developer-1: #563 overwrite select2-multiple*/
.select2-container--default.select2-container--focus .select2-selection--multiple {border-color:#aaa !important}
/*.select2-selection__choice__remove {margin-right:5px}*/

.homepage .drag-container{min-height:0px}
.navright_box{z-index:9996}

p#time, p.time{font-size:9pt}

/*developer-1: #771, controls on TinyMCE*/
/*.mce-container>.mce-flow-layout{overflow:auto}*/

.pqm-popup-container{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:9990}
.pqm-popup-content{width:700px;position:fixed;top:100px;left:50%;margin-left:-350px}

#wrap-notification{z-index:9999}

/*developer-1: #771, style for mobile*/
.sidebar-right a{text-decoration:none}
aside.sidebar-right{box-shadow:0 0 5px rgba(0,0,0,.3)}
.navigation-lg-right body:before{content:""}
.navigation-lg-right body,.navigation-lg-right html{overflow:hidden}
.navigation-lg-right aside.sidebar-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);overflow-y:auto}
.navigation-lg-right body:before{position:fixed;z-index:9998;background-color:rgba(0,0,0,.8);left:0;right:0;bottom:0;top:0}
aside.sidebar-right{width:240px;background-color:#fff;position:fixed;z-index:9999;right:0;top:0;bottom:0;-webkit-transform:translateX(240px);transform:translateX(240px);transition-duration:.3s}
aside.sidebar-right .acc-info{text-align:center;padding:20px 15px 0;text-transform:uppercase}
aside.sidebar-right .acc-info p{text-transform:none}
aside.sidebar-right .acc-info a{color:#999;text-transform:none}
aside.sidebar-right .acc-info a span{font-size:12px;margin-left:5px}
aside.sidebar-right .acc-info a:focus,aside.sidebar-right .acc-info a:hover{color:#333;text-decoration:none}
.navigation-lg-right .list-navigation li a .glyphicon{margin-right:15px}
span.sign4mb{font-size:14px}
/*.list-other-message tr.message-unread{background-color:#EDFEEC!important}*/

/*developer-1: #771, media screen and (max-width:768px)*/
.sidebar-right hr,aside.sidebar-right .acc-info{display:none}
.navigation-lg-right aside.sidebar-right{width:240px}
.navigation-lg-right aside.sidebar-right .acc-info,.navigation-lg-right aside.sidebar-right hr{display:block}
.navigation-lg-right aside.sidebar-right .list-navigation li a .text{display:inline}
.navigation-lg-right aside.sidebar-right{}

@media screen and (max-width:767px){
    /*developer-1: fix position for head-title in mobile*/
    main#main .outer-content{padding-top:62px}
    main#main .outer-content .tab-content div.active .panel-default .panel-body{overflow:auto}
    div[data-block-type=user_online] .user-status{padding-top:10px}
    button.btn-primary,button.btn-default{margin-top:5px}
    .select2-container{margin-bottom:10px!important}
    .btn+.btn{margin-left:0}
}
@media screen and (max-width:480px){
    #wrap-notification{margin:50px 15px 5px;padding-bottom:20px}
    body{overflow-y:scroll;overflow-x:hidden}
    .list-group-item{overflow:auto}
    .inner-content table td{white-space:nowrap}
    header.header .btn{padding:6px 5px!important}
    .inner-content {min-height:400px}
}
@media screen and (min-width: 768px){
    .list-navigation{width:auto;position:initial;top:auto}
}