.kpi_score_5 {
    color: #5cb85c;
}
.kpi_score_4 {
    color: #777;
}
.kpi_score_3 {
    color: #337ab7;
}
.kpi_score_2 {
    color: #f0ad4e;
}
.kpi_score_1 {
    color: #d9534f;
}
#casus_kpi .accordion-toggle {
    color: #FFFFFF;
    font-weight: bold;
}