.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000000;
    position: absolute;
    z-index: 10000;
}
/**
 * The picker input element.
 */

.picker__input {
    cursor: default;
}
.picker__input[readonly] {
    background-color: #fff !important;
    color: #555555 !important;
}
/**
 * When the picker is opened, the input element is “activated”.
 */

.picker__input.picker__input--active {
    border-color: #4d7496;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */

.picker__holder {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js/themes.htm#default
 */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * Make the holder and frame fullscreen.
 */

.picker__holder,
.picker__frame {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}
/**
 * The holder should overlay the entire screen.
 */

.picker__holder {
    position: fixed;
    -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
    -moz-transition: background 0.15s ease-out, top 0s 0.15s;
    transition: background 0.15s ease-out, top 0s 0.15s;
}
/**
 * The frame that bounds the box contents of the picker.
 */

.picker__frame {
    position: absolute;
    margin: 0 auto;
    min-width: 256px;
    max-width: 666px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
@media (min-height: 33.875em) {
    .picker__frame {
        overflow: visible;
        top: auto;
        bottom: -100%;
        max-height: 80%;
    }
}
@media (min-height: 40.125em) {
    .picker__frame {
        margin-bottom: 7.5%;
    }
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */

.picker__wrap {
    display: table;
    width: 100%;
    height: 100%;
}
@media (min-height: 33.875em) {
    .picker__wrap {
        display: block;
    }
}
/**
 * The box contains all the picker contents.
 */

.picker__box {
    background: #ffffff;
    display: table-cell;
    vertical-align: middle;
}
@media (min-height: 26.5em) {
    .picker__box {
        font-size: 1.25em;
    }
}
@media (min-height: 33.875em) {
    .picker__box {
        display: block;
        font-size: 1.33em;
        border: 1px solid #777777;
        border-top-color: #898989;
        border-bottom-width: 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        -webkit-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
        box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    }
}
@media (min-height: 40.125em) {
    .picker__box {
        font-size: 1.5em;
        border-bottom-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
/**
 * When the picker opens...
 */

.picker--opened .picker__holder {
    top: 0;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
    zoom: 1;
    background: rgba(0, 0, 0, 0.32);
    -webkit-transition: background 0.15s ease-out;
    -moz-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
}
.picker--opened .picker__frame {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
@media (min-height: 33.875em) {
    .picker--opened .picker__frame {
        top: auto;
        bottom: 0;
    }
}
/**
 * For `large` screens, transform into an inline picker.
 */
/* * * * * * * * * * * *
 * Date
 * * * * * * * * * * * */
/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The picker box.
 */

.picker__box {
    padding: 0 1em;
}
/**
 * The header containing the month and year stuff.
 */

.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em;
}
/**
 * The month and year labels.
 */

.picker__month,
.picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
}
.picker__year {
    color: #999999;
    font-size: .8em;
    font-style: italic;
}
/**
 * The month and year selectors.
 */

.picker__select--month,
.picker__select--year {
    font-size: .8em;
    border: 1px solid #b7b7b7;
    height: 2.5em;
    padding: .66em .25em;
    margin-left: .25em;
    margin-right: .25em;
    margin-top: -0.5em;
}
.picker__select--month {
    width: 35%;
}
.picker__select--year {
    width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
    border-color: #4d7496;
}
/**
 * The month navigation buttons.
 */

.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    top: -0.33em;
    padding: .5em 1.33em;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.picker__nav--prev {
    left: -1em;
    padding-right: 1.5em;
}
.picker__nav--next {
    right: -1em;
    padding-left: 1.5em;
}
.picker__nav--prev:before,
.picker__nav--next:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: 0.75em solid #000000;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}
.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #000000;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: #a9bfd3;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    cursor: default;
    background: none;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em;
}
@media (min-height: 33.875em) {
    .picker__table {
        margin-bottom: .75em;
    }
}
.picker__table td {
    margin: 0;
    padding: 0;
}
/**
 * The weekday labels
 */

.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999999;
    font-weight: 500;
    text-align: center;
    /* Increase the spacing a tad */
}
@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em;
    }
}
/**
 * The days on the calendar
 */

.picker__day {
    padding: .3125em 0;
    font-weight: 200;
    border: 1px solid transparent;
}
.picker__day--today {
    color: #4d7496;
    position: relative;
}
.picker__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 0.5em solid #192631;
    border-left: .5em solid transparent;
}
.picker__day--selected,
.picker__day--selected:hover {
    border-color: #4d7496;
}
.picker__day--highlighted {
    background: #a9bfd3;
}
.picker__day--disabled:before {
    border-top-color: #aaaaaa;
}
.picker__day--outfocus {
    color: #dddddd;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
    filter: alpha(opacity=66);
    -moz-opacity: 0.66;
    opacity: 0.66;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    cursor: pointer;
    color: #000000;
    background: #a9bfd3;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    background: #4d7496;
    color: #ffffff;
}
.picker__day--disabled,
.picker__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbbbbb;
}
/**
 * The footer containing the "today" and "clear" buttons.
 */

.picker__footer {
    text-align: center;
}
.picker__button--today,
.picker__button--clear {
    border: 1px solid #ffffff;
    background: #ffffff;
    font-size: .8em !important;
    padding: .66em 0;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
}
.picker__button--today:hover,
.picker__button--clear:hover {
    cursor: pointer;
    color: #000000;
    background: #a9bfd3;
    border-bottom-color: #a9bfd3;
}
.picker__button--today:focus,
.picker__button--clear:focus {
    background: #a9bfd3;
    border-color: #4d7496;
    outline: none;
}
.picker__button--today:before,
.picker__button--clear:before {
    position: relative;
    display: inline-block;
    height: 0;
}
.picker__button--today:before {
    content: " ";
    margin-right: .45em;
    top: -0.05em;
    width: 0;
    border-top: 0.66em solid #192631;
    border-left: .66em solid transparent;
}
.picker__button--clear:before {
    content: "\D7";
    margin-right: .35em;
    top: -0.1em;
    color: #ee2200;
    vertical-align: top;
    font-size: 1.1em;
}
/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/* * * * * * * * * * * *
 * Time
 * * * * * * * * * * * */
/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The list of times.
 */

.picker__list {
    list-style: none;
    padding: 0.75em 0 4.2em;
    margin: 0;
}
/**
 * The times on the clock.
 */

.picker__list-item {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: -1px;
    position: relative;
    background: #ffffff;
    padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
    .picker__list-item {
        padding: .5em 1em;
    }
}
/* Hovered time */

.picker__list-item:hover {
    cursor: pointer;
    color: #000000;
    background: #a9bfd3;
    border-color: #4d7496;
    z-index: 10;
}
/* Selected time */

.picker__list-item--selected,
.picker__list-item--selected:hover {
    border-color: #4d7496;
    z-index: 10;
}
/* Highlighted time */

.picker__list-item--highlighted {
    background: #a9bfd3;
}
/* Highlighted and hovered/focused time */

.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
    background: #4d7496;
    color: #ffffff;
}
/* Disabled time */

.picker__list-item--disabled,
.picker__list-item--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
    border-color: #dddddd;
    z-index: auto;
}
/**
 * The clear button
 */

.picker--time .picker__button--clear {
    display: block;
    width: 80%;
    margin: 1em auto 0;
    padding: 1em 1.25em;
    background: none;
    border: 0;
    font-weight: 500;
    font-size: .67em;
    text-align: center;
    text-transform: uppercase;
    color: #666;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
    color: #000000;
    background: #a9bfd3;
    background: #ee2200;
    border-color: #ee2200;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}
.picker--time .picker__button--clear:before {
    top: -0.25em;
    color: #666;
    font-size: 1.25em;
    font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
    color: #ffffff;
}
/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The frame the bounds the time picker.
 */

.picker--time .picker__frame {
    min-width: 256px;
    max-width: 320px;
}
/**
 * The picker box.
 */

.picker--time .picker__box {
    font-size: 1em;
    background: #f2f2f2;
    padding: 0;
}
@media (min-height: 40.125em) {
    .picker--time .picker__box {
        margin-bottom: 5em;
    }
}
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.fa-li.fa-lg {
    left: -1.85714286em;
}
.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.fa-pull-left {
    float: left;
}
.fa-pull-right {
    float: right;
}
.fa.fa-pull-left {
    margin-right: .3em;
}
.fa.fa-pull-right {
    margin-left: .3em;
}
/* Deprecated as of 4.4.0 */

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    filter: none;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-glass:before {
    content: "\f000";
}
.fa-music:before {
    content: "\f001";
}
.fa-search:before {
    content: "\f002";
}
.fa-envelope-o:before {
    content: "\f003";
}
.fa-heart:before {
    content: "\f004";
}
.fa-star:before {
    content: "\f005";
}
.fa-star-o:before {
    content: "\f006";
}
.fa-user:before {
    content: "\f007";
}
.fa-film:before {
    content: "\f008";
}
.fa-th-large:before {
    content: "\f009";
}
.fa-th:before {
    content: "\f00a";
}
.fa-th-list:before {
    content: "\f00b";
}
.fa-check:before {
    content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
}
.fa-search-plus:before {
    content: "\f00e";
}
.fa-search-minus:before {
    content: "\f010";
}
.fa-power-off:before {
    content: "\f011";
}
.fa-signal:before {
    content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
    content: "\f013";
}
.fa-trash-o:before {
    content: "\f014";
}
.fa-home:before {
    content: "\f015";
}
.fa-file-o:before {
    content: "\f016";
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-road:before {
    content: "\f018";
}
.fa-download:before {
    content: "\f019";
}
.fa-arrow-circle-o-down:before {
    content: "\f01a";
}
.fa-arrow-circle-o-up:before {
    content: "\f01b";
}
.fa-inbox:before {
    content: "\f01c";
}
.fa-play-circle-o:before {
    content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
    content: "\f01e";
}
.fa-refresh:before {
    content: "\f021";
}
.fa-list-alt:before {
    content: "\f022";
}
.fa-lock:before {
    content: "\f023";
}
.fa-flag:before {
    content: "\f024";
}
.fa-headphones:before {
    content: "\f025";
}
.fa-volume-off:before {
    content: "\f026";
}
.fa-volume-down:before {
    content: "\f027";
}
.fa-volume-up:before {
    content: "\f028";
}
.fa-qrcode:before {
    content: "\f029";
}
.fa-barcode:before {
    content: "\f02a";
}
.fa-tag:before {
    content: "\f02b";
}
.fa-tags:before {
    content: "\f02c";
}
.fa-book:before {
    content: "\f02d";
}
.fa-bookmark:before {
    content: "\f02e";
}
.fa-print:before {
    content: "\f02f";
}
.fa-camera:before {
    content: "\f030";
}
.fa-font:before {
    content: "\f031";
}
.fa-bold:before {
    content: "\f032";
}
.fa-italic:before {
    content: "\f033";
}
.fa-text-height:before {
    content: "\f034";
}
.fa-text-width:before {
    content: "\f035";
}
.fa-align-left:before {
    content: "\f036";
}
.fa-align-center:before {
    content: "\f037";
}
.fa-align-right:before {
    content: "\f038";
}
.fa-align-justify:before {
    content: "\f039";
}
.fa-list:before {
    content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
    content: "\f03b";
}
.fa-indent:before {
    content: "\f03c";
}
.fa-video-camera:before {
    content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content: "\f03e";
}
.fa-pencil:before {
    content: "\f040";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-adjust:before {
    content: "\f042";
}
.fa-tint:before {
    content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}
.fa-share-square-o:before {
    content: "\f045";
}
.fa-check-square-o:before {
    content: "\f046";
}
.fa-arrows:before {
    content: "\f047";
}
.fa-step-backward:before {
    content: "\f048";
}
.fa-fast-backward:before {
    content: "\f049";
}
.fa-backward:before {
    content: "\f04a";
}
.fa-play:before {
    content: "\f04b";
}
.fa-pause:before {
    content: "\f04c";
}
.fa-stop:before {
    content: "\f04d";
}
.fa-forward:before {
    content: "\f04e";
}
.fa-fast-forward:before {
    content: "\f050";
}
.fa-step-forward:before {
    content: "\f051";
}
.fa-eject:before {
    content: "\f052";
}
.fa-chevron-left:before {
    content: "\f053";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fa-plus-circle:before {
    content: "\f055";
}
.fa-minus-circle:before {
    content: "\f056";
}
.fa-times-circle:before {
    content: "\f057";
}
.fa-check-circle:before {
    content: "\f058";
}
.fa-question-circle:before {
    content: "\f059";
}
.fa-info-circle:before {
    content: "\f05a";
}
.fa-crosshairs:before {
    content: "\f05b";
}
.fa-times-circle-o:before {
    content: "\f05c";
}
.fa-check-circle-o:before {
    content: "\f05d";
}
.fa-ban:before {
    content: "\f05e";
}
.fa-arrow-left:before {
    content: "\f060";
}
.fa-arrow-right:before {
    content: "\f061";
}
.fa-arrow-up:before {
    content: "\f062";
}
.fa-arrow-down:before {
    content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
    content: "\f064";
}
.fa-expand:before {
    content: "\f065";
}
.fa-compress:before {
    content: "\f066";
}
.fa-plus:before {
    content: "\f067";
}
.fa-minus:before {
    content: "\f068";
}
.fa-asterisk:before {
    content: "\f069";
}
.fa-exclamation-circle:before {
    content: "\f06a";
}
.fa-gift:before {
    content: "\f06b";
}
.fa-leaf:before {
    content: "\f06c";
}
.fa-fire:before {
    content: "\f06d";
}
.fa-eye:before {
    content: "\f06e";
}
.fa-eye-slash:before {
    content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
    content: "\f071";
}
.fa-plane:before {
    content: "\f072";
}
.fa-calendar:before {
    content: "\f073";
}
.fa-random:before {
    content: "\f074";
}
.fa-comment:before {
    content: "\f075";
}
.fa-magnet:before {
    content: "\f076";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-retweet:before {
    content: "\f079";
}
.fa-shopping-cart:before {
    content: "\f07a";
}
.fa-folder:before {
    content: "\f07b";
}
.fa-folder-open:before {
    content: "\f07c";
}
.fa-arrows-v:before {
    content: "\f07d";
}
.fa-arrows-h:before {
    content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "\f080";
}
.fa-twitter-square:before {
    content: "\f081";
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-camera-retro:before {
    content: "\f083";
}
.fa-key:before {
    content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
    content: "\f085";
}
.fa-comments:before {
    content: "\f086";
}
.fa-thumbs-o-up:before {
    content: "\f087";
}
.fa-thumbs-o-down:before {
    content: "\f088";
}
.fa-star-half:before {
    content: "\f089";
}
.fa-heart-o:before {
    content: "\f08a";
}
.fa-sign-out:before {
    content: "\f08b";
}
.fa-linkedin-square:before {
    content: "\f08c";
}
.fa-thumb-tack:before {
    content: "\f08d";
}
.fa-external-link:before {
    content: "\f08e";
}
.fa-sign-in:before {
    content: "\f090";
}
.fa-trophy:before {
    content: "\f091";
}
.fa-github-square:before {
    content: "\f092";
}
.fa-upload:before {
    content: "\f093";
}
.fa-lemon-o:before {
    content: "\f094";
}
.fa-phone:before {
    content: "\f095";
}
.fa-square-o:before {
    content: "\f096";
}
.fa-bookmark-o:before {
    content: "\f097";
}
.fa-phone-square:before {
    content: "\f098";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}
.fa-github:before {
    content: "\f09b";
}
.fa-unlock:before {
    content: "\f09c";
}
.fa-credit-card:before {
    content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
    content: "\f09e";
}
.fa-hdd-o:before {
    content: "\f0a0";
}
.fa-bullhorn:before {
    content: "\f0a1";
}
.fa-bell:before {
    content: "\f0f3";
}
.fa-certificate:before {
    content: "\f0a3";
}
.fa-hand-o-right:before {
    content: "\f0a4";
}
.fa-hand-o-left:before {
    content: "\f0a5";
}
.fa-hand-o-up:before {
    content: "\f0a6";
}
.fa-hand-o-down:before {
    content: "\f0a7";
}
.fa-arrow-circle-left:before {
    content: "\f0a8";
}
.fa-arrow-circle-right:before {
    content: "\f0a9";
}
.fa-arrow-circle-up:before {
    content: "\f0aa";
}
.fa-arrow-circle-down:before {
    content: "\f0ab";
}
.fa-globe:before {
    content: "\f0ac";
}
.fa-wrench:before {
    content: "\f0ad";
}
.fa-tasks:before {
    content: "\f0ae";
}
.fa-filter:before {
    content: "\f0b0";
}
.fa-briefcase:before {
    content: "\f0b1";
}
.fa-arrows-alt:before {
    content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
    content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
    content: "\f0c1";
}
.fa-cloud:before {
    content: "\f0c2";
}
.fa-flask:before {
    content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5";
}
.fa-paperclip:before {
    content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
    content: "\f0c7";
}
.fa-square:before {
    content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9";
}
.fa-list-ul:before {
    content: "\f0ca";
}
.fa-list-ol:before {
    content: "\f0cb";
}
.fa-strikethrough:before {
    content: "\f0cc";
}
.fa-underline:before {
    content: "\f0cd";
}
.fa-table:before {
    content: "\f0ce";
}
.fa-magic:before {
    content: "\f0d0";
}
.fa-truck:before {
    content: "\f0d1";
}
.fa-pinterest:before {
    content: "\f0d2";
}
.fa-pinterest-square:before {
    content: "\f0d3";
}
.fa-google-plus-square:before {
    content: "\f0d4";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-money:before {
    content: "\f0d6";
}
.fa-caret-down:before {
    content: "\f0d7";
}
.fa-caret-up:before {
    content: "\f0d8";
}
.fa-caret-left:before {
    content: "\f0d9";
}
.fa-caret-right:before {
    content: "\f0da";
}
.fa-columns:before {
    content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
    content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
    content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
    content: "\f0de";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
    content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4";
}
.fa-comment-o:before {
    content: "\f0e5";
}
.fa-comments-o:before {
    content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
    content: "\f0e7";
}
.fa-sitemap:before {
    content: "\f0e8";
}
.fa-umbrella:before {
    content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
    content: "\f0ea";
}
.fa-lightbulb-o:before {
    content: "\f0eb";
}
.fa-exchange:before {
    content: "\f0ec";
}
.fa-cloud-download:before {
    content: "\f0ed";
}
.fa-cloud-upload:before {
    content: "\f0ee";
}
.fa-user-md:before {
    content: "\f0f0";
}
.fa-stethoscope:before {
    content: "\f0f1";
}
.fa-suitcase:before {
    content: "\f0f2";
}
.fa-bell-o:before {
    content: "\f0a2";
}
.fa-coffee:before {
    content: "\f0f4";
}
.fa-cutlery:before {
    content: "\f0f5";
}
.fa-file-text-o:before {
    content: "\f0f6";
}
.fa-building-o:before {
    content: "\f0f7";
}
.fa-hospital-o:before {
    content: "\f0f8";
}
.fa-ambulance:before {
    content: "\f0f9";
}
.fa-medkit:before {
    content: "\f0fa";
}
.fa-fighter-jet:before {
    content: "\f0fb";
}
.fa-beer:before {
    content: "\f0fc";
}
.fa-h-square:before {
    content: "\f0fd";
}
.fa-plus-square:before {
    content: "\f0fe";
}
.fa-angle-double-left:before {
    content: "\f100";
}
.fa-angle-double-right:before {
    content: "\f101";
}
.fa-angle-double-up:before {
    content: "\f102";
}
.fa-angle-double-down:before {
    content: "\f103";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-angle-right:before {
    content: "\f105";
}
.fa-angle-up:before {
    content: "\f106";
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-desktop:before {
    content: "\f108";
}
.fa-laptop:before {
    content: "\f109";
}
.fa-tablet:before {
    content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b";
}
.fa-circle-o:before {
    content: "\f10c";
}
.fa-quote-left:before {
    content: "\f10d";
}
.fa-quote-right:before {
    content: "\f10e";
}
.fa-spinner:before {
    content: "\f110";
}
.fa-circle:before {
    content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112";
}
.fa-github-alt:before {
    content: "\f113";
}
.fa-folder-o:before {
    content: "\f114";
}
.fa-folder-open-o:before {
    content: "\f115";
}
.fa-smile-o:before {
    content: "\f118";
}
.fa-frown-o:before {
    content: "\f119";
}
.fa-meh-o:before {
    content: "\f11a";
}
.fa-gamepad:before {
    content: "\f11b";
}
.fa-keyboard-o:before {
    content: "\f11c";
}
.fa-flag-o:before {
    content: "\f11d";
}
.fa-flag-checkered:before {
    content: "\f11e";
}
.fa-terminal:before {
    content: "\f120";
}
.fa-code:before {
    content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123";
}
.fa-location-arrow:before {
    content: "\f124";
}
.fa-crop:before {
    content: "\f125";
}
.fa-code-fork:before {
    content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127";
}
.fa-question:before {
    content: "\f128";
}
.fa-info:before {
    content: "\f129";
}
.fa-exclamation:before {
    content: "\f12a";
}
.fa-superscript:before {
    content: "\f12b";
}
.fa-subscript:before {
    content: "\f12c";
}
.fa-eraser:before {
    content: "\f12d";
}
.fa-puzzle-piece:before {
    content: "\f12e";
}
.fa-microphone:before {
    content: "\f130";
}
.fa-microphone-slash:before {
    content: "\f131";
}
.fa-shield:before {
    content: "\f132";
}
.fa-calendar-o:before {
    content: "\f133";
}
.fa-fire-extinguisher:before {
    content: "\f134";
}
.fa-rocket:before {
    content: "\f135";
}
.fa-maxcdn:before {
    content: "\f136";
}
.fa-chevron-circle-left:before {
    content: "\f137";
}
.fa-chevron-circle-right:before {
    content: "\f138";
}
.fa-chevron-circle-up:before {
    content: "\f139";
}
.fa-chevron-circle-down:before {
    content: "\f13a";
}
.fa-html5:before {
    content: "\f13b";
}
.fa-css3:before {
    content: "\f13c";
}
.fa-anchor:before {
    content: "\f13d";
}
.fa-unlock-alt:before {
    content: "\f13e";
}
.fa-bullseye:before {
    content: "\f140";
}
.fa-ellipsis-h:before {
    content: "\f141";
}
.fa-ellipsis-v:before {
    content: "\f142";
}
.fa-rss-square:before {
    content: "\f143";
}
.fa-play-circle:before {
    content: "\f144";
}
.fa-ticket:before {
    content: "\f145";
}
.fa-minus-square:before {
    content: "\f146";
}
.fa-minus-square-o:before {
    content: "\f147";
}
.fa-level-up:before {
    content: "\f148";
}
.fa-level-down:before {
    content: "\f149";
}
.fa-check-square:before {
    content: "\f14a";
}
.fa-pencil-square:before {
    content: "\f14b";
}
.fa-external-link-square:before {
    content: "\f14c";
}
.fa-share-square:before {
    content: "\f14d";
}
.fa-compass:before {
    content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
    content: "\f153";
}
.fa-gbp:before {
    content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
    content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
    content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: "\f158";
}
.fa-won:before,
.fa-krw:before {
    content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a";
}
.fa-file:before {
    content: "\f15b";
}
.fa-file-text:before {
    content: "\f15c";
}
.fa-sort-alpha-asc:before {
    content: "\f15d";
}
.fa-sort-alpha-desc:before {
    content: "\f15e";
}
.fa-sort-amount-asc:before {
    content: "\f160";
}
.fa-sort-amount-desc:before {
    content: "\f161";
}
.fa-sort-numeric-asc:before {
    content: "\f162";
}
.fa-sort-numeric-desc:before {
    content: "\f163";
}
.fa-thumbs-up:before {
    content: "\f164";
}
.fa-thumbs-down:before {
    content: "\f165";
}
.fa-youtube-square:before {
    content: "\f166";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-xing:before {
    content: "\f168";
}
.fa-xing-square:before {
    content: "\f169";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-dropbox:before {
    content: "\f16b";
}
.fa-stack-overflow:before {
    content: "\f16c";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-flickr:before {
    content: "\f16e";
}
.fa-adn:before {
    content: "\f170";
}
.fa-bitbucket:before {
    content: "\f171";
}
.fa-bitbucket-square:before {
    content: "\f172";
}
.fa-tumblr:before {
    content: "\f173";
}
.fa-tumblr-square:before {
    content: "\f174";
}
.fa-long-arrow-down:before {
    content: "\f175";
}
.fa-long-arrow-up:before {
    content: "\f176";
}
.fa-long-arrow-left:before {
    content: "\f177";
}
.fa-long-arrow-right:before {
    content: "\f178";
}
.fa-apple:before {
    content: "\f179";
}
.fa-windows:before {
    content: "\f17a";
}
.fa-android:before {
    content: "\f17b";
}
.fa-linux:before {
    content: "\f17c";
}
.fa-dribbble:before {
    content: "\f17d";
}
.fa-skype:before {
    content: "\f17e";
}
.fa-foursquare:before {
    content: "\f180";
}
.fa-trello:before {
    content: "\f181";
}
.fa-female:before {
    content: "\f182";
}
.fa-male:before {
    content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184";
}
.fa-sun-o:before {
    content: "\f185";
}
.fa-moon-o:before {
    content: "\f186";
}
.fa-archive:before {
    content: "\f187";
}
.fa-bug:before {
    content: "\f188";
}
.fa-vk:before {
    content: "\f189";
}
.fa-weibo:before {
    content: "\f18a";
}
.fa-renren:before {
    content: "\f18b";
}
.fa-pagelines:before {
    content: "\f18c";
}
.fa-stack-exchange:before {
    content: "\f18d";
}
.fa-arrow-circle-o-right:before {
    content: "\f18e";
}
.fa-arrow-circle-o-left:before {
    content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "\f191";
}
.fa-dot-circle-o:before {
    content: "\f192";
}
.fa-wheelchair:before {
    content: "\f193";
}
.fa-vimeo-square:before {
    content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
    content: "\f195";
}
.fa-plus-square-o:before {
    content: "\f196";
}
.fa-space-shuttle:before {
    content: "\f197";
}
.fa-slack:before {
    content: "\f198";
}
.fa-envelope-square:before {
    content: "\f199";
}
.fa-wordpress:before {
    content: "\f19a";
}
.fa-openid:before {
    content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: "\f19d";
}
.fa-yahoo:before {
    content: "\f19e";
}
.fa-google:before {
    content: "\f1a0";
}
.fa-reddit:before {
    content: "\f1a1";
}
.fa-reddit-square:before {
    content: "\f1a2";
}
.fa-stumbleupon-circle:before {
    content: "\f1a3";
}
.fa-stumbleupon:before {
    content: "\f1a4";
}
.fa-delicious:before {
    content: "\f1a5";
}
.fa-digg:before {
    content: "\f1a6";
}
.fa-pied-piper-pp:before {
    content: "\f1a7";
}
.fa-pied-piper-alt:before {
    content: "\f1a8";
}
.fa-drupal:before {
    content: "\f1a9";
}
.fa-joomla:before {
    content: "\f1aa";
}
.fa-language:before {
    content: "\f1ab";
}
.fa-fax:before {
    content: "\f1ac";
}
.fa-building:before {
    content: "\f1ad";
}
.fa-child:before {
    content: "\f1ae";
}
.fa-paw:before {
    content: "\f1b0";
}
.fa-spoon:before {
    content: "\f1b1";
}
.fa-cube:before {
    content: "\f1b2";
}
.fa-cubes:before {
    content: "\f1b3";
}
.fa-behance:before {
    content: "\f1b4";
}
.fa-behance-square:before {
    content: "\f1b5";
}
.fa-steam:before {
    content: "\f1b6";
}
.fa-steam-square:before {
    content: "\f1b7";
}
.fa-recycle:before {
    content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
    content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba";
}
.fa-tree:before {
    content: "\f1bb";
}
.fa-spotify:before {
    content: "\f1bc";
}
.fa-deviantart:before {
    content: "\f1bd";
}
.fa-soundcloud:before {
    content: "\f1be";
}
.fa-database:before {
    content: "\f1c0";
}
.fa-file-pdf-o:before {
    content: "\f1c1";
}
.fa-file-word-o:before {
    content: "\f1c2";
}
.fa-file-excel-o:before {
    content: "\f1c3";
}
.fa-file-powerpoint-o:before {
    content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8";
}
.fa-file-code-o:before {
    content: "\f1c9";
}
.fa-vine:before {
    content: "\f1ca";
}
.fa-codepen:before {
    content: "\f1cb";
}
.fa-jsfiddle:before {
    content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: "\f1cd";
}
.fa-circle-o-notch:before {
    content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
    content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
    content: "\f1d1";
}
.fa-git-square:before {
    content: "\f1d2";
}
.fa-git:before {
    content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
    content: "\f1d4";
}
.fa-tencent-weibo:before {
    content: "\f1d5";
}
.fa-qq:before {
    content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
    content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "\f1d9";
}
.fa-history:before {
    content: "\f1da";
}
.fa-circle-thin:before {
    content: "\f1db";
}
.fa-header:before {
    content: "\f1dc";
}
.fa-paragraph:before {
    content: "\f1dd";
}
.fa-sliders:before {
    content: "\f1de";
}
.fa-share-alt:before {
    content: "\f1e0";
}
.fa-share-alt-square:before {
    content: "\f1e1";
}
.fa-bomb:before {
    content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
    content: "\f1e3";
}
.fa-tty:before {
    content: "\f1e4";
}
.fa-binoculars:before {
    content: "\f1e5";
}
.fa-plug:before {
    content: "\f1e6";
}
.fa-slideshare:before {
    content: "\f1e7";
}
.fa-twitch:before {
    content: "\f1e8";
}
.fa-yelp:before {
    content: "\f1e9";
}
.fa-newspaper-o:before {
    content: "\f1ea";
}
.fa-wifi:before {
    content: "\f1eb";
}
.fa-calculator:before {
    content: "\f1ec";
}
.fa-paypal:before {
    content: "\f1ed";
}
.fa-google-wallet:before {
    content: "\f1ee";
}
.fa-cc-visa:before {
    content: "\f1f0";
}
.fa-cc-mastercard:before {
    content: "\f1f1";
}
.fa-cc-discover:before {
    content: "\f1f2";
}
.fa-cc-amex:before {
    content: "\f1f3";
}
.fa-cc-paypal:before {
    content: "\f1f4";
}
.fa-cc-stripe:before {
    content: "\f1f5";
}
.fa-bell-slash:before {
    content: "\f1f6";
}
.fa-bell-slash-o:before {
    content: "\f1f7";
}
.fa-trash:before {
    content: "\f1f8";
}
.fa-copyright:before {
    content: "\f1f9";
}
.fa-at:before {
    content: "\f1fa";
}
.fa-eyedropper:before {
    content: "\f1fb";
}
.fa-paint-brush:before {
    content: "\f1fc";
}
.fa-birthday-cake:before {
    content: "\f1fd";
}
.fa-area-chart:before {
    content: "\f1fe";
}
.fa-pie-chart:before {
    content: "\f200";
}
.fa-line-chart:before {
    content: "\f201";
}
.fa-lastfm:before {
    content: "\f202";
}
.fa-lastfm-square:before {
    content: "\f203";
}
.fa-toggle-off:before {
    content: "\f204";
}
.fa-toggle-on:before {
    content: "\f205";
}
.fa-bicycle:before {
    content: "\f206";
}
.fa-bus:before {
    content: "\f207";
}
.fa-ioxhost:before {
    content: "\f208";
}
.fa-angellist:before {
    content: "\f209";
}
.fa-cc:before {
    content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
    content: "\f20b";
}
.fa-meanpath:before {
    content: "\f20c";
}
.fa-buysellads:before {
    content: "\f20d";
}
.fa-connectdevelop:before {
    content: "\f20e";
}
.fa-dashcube:before {
    content: "\f210";
}
.fa-forumbee:before {
    content: "\f211";
}
.fa-leanpub:before {
    content: "\f212";
}
.fa-sellsy:before {
    content: "\f213";
}
.fa-shirtsinbulk:before {
    content: "\f214";
}
.fa-simplybuilt:before {
    content: "\f215";
}
.fa-skyatlas:before {
    content: "\f216";
}
.fa-cart-plus:before {
    content: "\f217";
}
.fa-cart-arrow-down:before {
    content: "\f218";
}
.fa-diamond:before {
    content: "\f219";
}
.fa-ship:before {
    content: "\f21a";
}
.fa-user-secret:before {
    content: "\f21b";
}
.fa-motorcycle:before {
    content: "\f21c";
}
.fa-street-view:before {
    content: "\f21d";
}
.fa-heartbeat:before {
    content: "\f21e";
}
.fa-venus:before {
    content: "\f221";
}
.fa-mars:before {
    content: "\f222";
}
.fa-mercury:before {
    content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
    content: "\f224";
}
.fa-transgender-alt:before {
    content: "\f225";
}
.fa-venus-double:before {
    content: "\f226";
}
.fa-mars-double:before {
    content: "\f227";
}
.fa-venus-mars:before {
    content: "\f228";
}
.fa-mars-stroke:before {
    content: "\f229";
}
.fa-mars-stroke-v:before {
    content: "\f22a";
}
.fa-mars-stroke-h:before {
    content: "\f22b";
}
.fa-neuter:before {
    content: "\f22c";
}
.fa-genderless:before {
    content: "\f22d";
}
.fa-facebook-official:before {
    content: "\f230";
}
.fa-pinterest-p:before {
    content: "\f231";
}
.fa-whatsapp:before {
    content: "\f232";
}
.fa-server:before {
    content: "\f233";
}
.fa-user-plus:before {
    content: "\f234";
}
.fa-user-times:before {
    content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
    content: "\f236";
}
.fa-viacoin:before {
    content: "\f237";
}
.fa-train:before {
    content: "\f238";
}
.fa-subway:before {
    content: "\f239";
}
.fa-medium:before {
    content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
    content: "\f23b";
}
.fa-optin-monster:before {
    content: "\f23c";
}
.fa-opencart:before {
    content: "\f23d";
}
.fa-expeditedssl:before {
    content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
    content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244";
}
.fa-mouse-pointer:before {
    content: "\f245";
}
.fa-i-cursor:before {
    content: "\f246";
}
.fa-object-group:before {
    content: "\f247";
}
.fa-object-ungroup:before {
    content: "\f248";
}
.fa-sticky-note:before {
    content: "\f249";
}
.fa-sticky-note-o:before {
    content: "\f24a";
}
.fa-cc-jcb:before {
    content: "\f24b";
}
.fa-cc-diners-club:before {
    content: "\f24c";
}
.fa-clone:before {
    content: "\f24d";
}
.fa-balance-scale:before {
    content: "\f24e";
}
.fa-hourglass-o:before {
    content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253";
}
.fa-hourglass:before {
    content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "\f256";
}
.fa-hand-scissors-o:before {
    content: "\f257";
}
.fa-hand-lizard-o:before {
    content: "\f258";
}
.fa-hand-spock-o:before {
    content: "\f259";
}
.fa-hand-pointer-o:before {
    content: "\f25a";
}
.fa-hand-peace-o:before {
    content: "\f25b";
}
.fa-trademark:before {
    content: "\f25c";
}
.fa-registered:before {
    content: "\f25d";
}
.fa-creative-commons:before {
    content: "\f25e";
}
.fa-gg:before {
    content: "\f260";
}
.fa-gg-circle:before {
    content: "\f261";
}
.fa-tripadvisor:before {
    content: "\f262";
}
.fa-odnoklassniki:before {
    content: "\f263";
}
.fa-odnoklassniki-square:before {
    content: "\f264";
}
.fa-get-pocket:before {
    content: "\f265";
}
.fa-wikipedia-w:before {
    content: "\f266";
}
.fa-safari:before {
    content: "\f267";
}
.fa-chrome:before {
    content: "\f268";
}
.fa-firefox:before {
    content: "\f269";
}
.fa-opera:before {
    content: "\f26a";
}
.fa-internet-explorer:before {
    content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
    content: "\f26c";
}
.fa-contao:before {
    content: "\f26d";
}
.fa-500px:before {
    content: "\f26e";
}
.fa-amazon:before {
    content: "\f270";
}
.fa-calendar-plus-o:before {
    content: "\f271";
}
.fa-calendar-minus-o:before {
    content: "\f272";
}
.fa-calendar-times-o:before {
    content: "\f273";
}
.fa-calendar-check-o:before {
    content: "\f274";
}
.fa-industry:before {
    content: "\f275";
}
.fa-map-pin:before {
    content: "\f276";
}
.fa-map-signs:before {
    content: "\f277";
}
.fa-map-o:before {
    content: "\f278";
}
.fa-map:before {
    content: "\f279";
}
.fa-commenting:before {
    content: "\f27a";
}
.fa-commenting-o:before {
    content: "\f27b";
}
.fa-houzz:before {
    content: "\f27c";
}
.fa-vimeo:before {
    content: "\f27d";
}
.fa-black-tie:before {
    content: "\f27e";
}
.fa-fonticons:before {
    content: "\f280";
}
.fa-reddit-alien:before {
    content: "\f281";
}
.fa-edge:before {
    content: "\f282";
}
.fa-credit-card-alt:before {
    content: "\f283";
}
.fa-codiepie:before {
    content: "\f284";
}
.fa-modx:before {
    content: "\f285";
}
.fa-fort-awesome:before {
    content: "\f286";
}
.fa-usb:before {
    content: "\f287";
}
.fa-product-hunt:before {
    content: "\f288";
}
.fa-mixcloud:before {
    content: "\f289";
}
.fa-scribd:before {
    content: "\f28a";
}
.fa-pause-circle:before {
    content: "\f28b";
}
.fa-pause-circle-o:before {
    content: "\f28c";
}
.fa-stop-circle:before {
    content: "\f28d";
}
.fa-stop-circle-o:before {
    content: "\f28e";
}
.fa-shopping-bag:before {
    content: "\f290";
}
.fa-shopping-basket:before {
    content: "\f291";
}
.fa-hashtag:before {
    content: "\f292";
}
.fa-bluetooth:before {
    content: "\f293";
}
.fa-bluetooth-b:before {
    content: "\f294";
}
.fa-percent:before {
    content: "\f295";
}
.fa-gitlab:before {
    content: "\f296";
}
.fa-wpbeginner:before {
    content: "\f297";
}
.fa-wpforms:before {
    content: "\f298";
}
.fa-envira:before {
    content: "\f299";
}
.fa-universal-access:before {
    content: "\f29a";
}
.fa-wheelchair-alt:before {
    content: "\f29b";
}
.fa-question-circle-o:before {
    content: "\f29c";
}
.fa-blind:before {
    content: "\f29d";
}
.fa-audio-description:before {
    content: "\f29e";
}
.fa-volume-control-phone:before {
    content: "\f2a0";
}
.fa-braille:before {
    content: "\f2a1";
}
.fa-assistive-listening-systems:before {
    content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
    content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
    content: "\f2a4";
}
.fa-glide:before {
    content: "\f2a5";
}
.fa-glide-g:before {
    content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
    content: "\f2a7";
}
.fa-low-vision:before {
    content: "\f2a8";
}
.fa-viadeo:before {
    content: "\f2a9";
}
.fa-viadeo-square:before {
    content: "\f2aa";
}
.fa-snapchat:before {
    content: "\f2ab";
}
.fa-snapchat-ghost:before {
    content: "\f2ac";
}
.fa-snapchat-square:before {
    content: "\f2ad";
}
.fa-pied-piper:before {
    content: "\f2ae";
}
.fa-first-order:before {
    content: "\f2b0";
}
.fa-yoast:before {
    content: "\f2b1";
}
.fa-themeisle:before {
    content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
    content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
    content: "\f2b4";
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.clearfix:after,
.clearfix:before,
.list-group.has-switch>li:after,
.list-group.has-switch>li:before {
    content: ' ';
    display: table
}
.clearfix:after,
.list-group.has-switch>li:after {
    clear: both
}
.text-hide {
    font-size: 0;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    text-indent: -90000em
}
.animation-fade {
    transition: all .2s ease-in-out
}
.animation-fade-bg {
    transition: background-color .2s ease-in-out
}
.animation-fade-color {
    transition: color .2s ease-in-out
}
.sf-font {
    font-family: simplefly!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-weight: 400!important;
    line-height: 1;
    text-transform: none!important
}
.awesome-font {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}
.center-column {
    margin-left: auto!important;
    margin-right: auto!important;
    float: none!important
}
.mr-5 {
    margin-right: 5px!important
}
.mr-10 {
    margin-right: 10px!important
}
.ml-10 {
    margin-left: 10px!important
}
.mb-10 {
    margin-bottom: 10px!important
}
.mt-10 {
    margin-top: 10px!important
}
.text-regular {
    font-weight: 400
}
@media screen {
    #wrap-notification,
    .inner-content,
    aside.sidebar,
    header.header {
        box-shadow: 0 0 5px rgba(0, 0, 0, .3)
    }
    .demo-layout-2,
    a:focus,
    a:hover,
    header.header .logo:active,
    header.header .logo:hover {
        text-decoration: none
    }
    #wrap-notification:before,
    .navigation-lg body:before,
    .switch-control label:before {
        content: ""
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .btn:focus,
    .btn:hover,
    button:focus,
    button:hover {
        outline: 0
    }
    header.header {
        /*padding: 10px 0;*/
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 2222;
        width: 100%;
    }
    header.header .logo {
        display: inline-block;
        font-size: 25px;
        line-height: 1;
        text-transform: uppercase;
        margin-top: 5px;
        color: #333
    }
    header.header .btn-default {
        position: relative;
        color: #999;
        width: 36px;
        height: 36px;
        padding: 0;
        line-height: 36px;
    }

    header.header .btn-default .noti-count {
        background-color: #f44336;
        color: #fff;
        font-size: 10px;
        line-height: 20px;
        position: absolute;
        padding: 0;
        top: -5px;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    header.header .btn-default+.btn-default,
    header.header .btn-group {
        margin-left: 0px
    }
    header.header .btn-default:focus,
    header.header .btn-default:hover {
        color: #333;
        background-color: transparent
    }
    header.header .btn-toggle-nav {
        position: relative;
        width: 25px;
        height: 30px;
        float: left;
        background: 0 0;
        border: 0;
        padding: 0;
        margin-right: 10px
    }
    header.header .btn-toggle-nav span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        height: 4px;
        border-radius: 3px;
        background-color: #333;
        margin-top: -2px;
    }
    #wrap-notification,
    .inner-content {
        border-radius: 5px
    }
    header.header .btn-toggle-nav span:first-child {
        top: 25%
    }
    header.header .btn-toggle-nav span:last-child {
        top: 75%
    }
    #wrap-notification {
        background-color: #fff;
        padding: 20px 15px 0;
        margin: 75px 15px 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 12px;
        bottom: 0;
        z-index: 99999;
        overflow-y: auto;
    }
    #wrap-notification:before {
        position: absolute;
        right: 5px;
        top: -15px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff
    }
    #wrap-notification .glyphicon {
        margin-right: 5px
    }
    body {
        font-family: Roboto, sans-serif;
        background-color: #f5f5f5
    }
    body,
    html {
        height: 100%
    }
    #wrapper {
        min-height: 100%;
        transition-duration: .3s;
    }
    .inner-content {
        background-color: #fff;
        padding: 15px;
        min-height: 600px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .timeline-block {
        width: 300px;
        float: right;
        margin-left: 30px;
    }
    .timeline-block .btn-close {
        border: 0;
        float: right;
    }
    .navigation-lg body,
    .navigation-lg html {
        overflow: hidden
    }
    .navigation-lg aside.sidebar {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        overflow-y: auto
    }
    .navigation-lg body:before {
        position: fixed;
        z-index: 900;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0
    }
    .navigation-lg header.header .btn-toggle-nav {
        position: fixed;
        left: 265px;
        z-index: 1000;
        margin: 0;
        display: none;
        visibility: hidden;
    }
    .navigation-lg header.header .btn-toggle-nav span {
        background-color: #fff
    }
    .navigation-lg .btn-toggle-nav span {
        top: 50% !important;
        display: none;
    }
    .navigation-lg .btn-toggle-nav span:first-child {
        display: block;
        transform: rotate(45deg);
    }
    .navigation-lg .btn-toggle-nav span:last-child {
        display: block;
        transform: rotate(-45deg);
    }
    .heading-page .title-page {
        font-size: 24px;
        margin: 20px 0 15px
    }
    .demo-layout-2 {
        color: #333;
        position: fixed;
        bottom: 20px;
        right: 15px
    }
    .layout-2 body {
        background: url(../images/login-bg.jpg) center;
        background-size: cover
    }
    .layout-2 .heading-page .title-page {
        color: #fff
    }
    .layout-2 .panel-default>.panel-heading {
        color: #fff;
        background-color: #68dff0
    }
    .layout-2 .demo-layout-2 {
        color: #000
    }
    .layout-2 #wrap-notification:before {
        display: none
    }
    aside.sidebar {
        width: 240px;
        background-color: #fff;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        transition-duration: .3s
    }
    aside.sidebar .acc-info {
        text-align: center;
        padding: 20px 15px 0;
        text-transform: uppercase
    }
    aside.sidebar .acc-info p {
        text-transform: none
    }
    aside.sidebar .acc-info a {
        color: #999;
        text-transform: none
    }
    aside.sidebar .acc-info a span {
        font-size: 12px;
        margin-left: 5px
    }
    aside.sidebar .acc-info a:focus,
    aside.sidebar .acc-info a:hover {
        color: #333;
        text-decoration: none
    }
    .list-navigation li a {
        display: block;
        padding: 17px 15px;
        border-bottom: 1px dotted #f5f5f5;
        color: #333
    }
    .list-navigation li a .glyphicon {
        margin-right: 15px;
        font-size: 20px;
    }
    .list-navigation li.active a,
    .list-navigation li:focus a,
    .list-navigation li:hover a {
        background-color: #f5f5f5
    }
    a.accordion-toggle {
        display: block
    }
    .btn.btn-icon .glyphicon {
        margin-right: 10px
    }
    .btn+.btn {
        margin-left: 15px
    }
    .filter-bar {
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 15px
    }
    .filter-bar .filter-item {
        margin-bottom: 15px;
        min-width: 200px
    }
    .filter-bar .filter-item > label {
        display: block;
    }
    .filter-bar .filter-item .checkbox label,
    .filter-bar .filter-item .radio label {
        margin-right: 20px
    }
    .filter-bar .filter-item .select2 {
        display: block !important;
    }
    .label {
        display: inline-block;
        margin-right: 5px
    }
    .list-group.has-switch>li {
        position: relative;
        padding-right: 50px
    }
    .list-group.has-switch>li.nvt {
        position: relative;
        padding-right: 15px
    }
    .list-group.has-switch>li .switch-control {
        position: absolute;
        right: 15px;
        top: 12px
    }
    .checkbox label,
    .radio label {
        margin-right: 20px
    }
    .switch-control {
        display: inline-block;
        vertical-align: middle
    }
    .switch-control input[type=checkbox] {
        position: absolute;
        opacity: 0;
        clip: rect(0, 0, 0, 0)
    }
    .switch-control input[type=checkbox]:checked+label {
        background-color: #5cb85c
    }
    .switch-control input[type=checkbox]:checked+label:before {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0)
    }
    .switch-control label {
        width: 30px;
        height: 14px;
        background: #999;
        position: relative;
        margin: 0;
        cursor: pointer;
        border-radius: 99px
    }
    .switch-control label:before {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 1px;
        left: 1px;
        background: #fff;
        border-radius: 50%;
        transition-duration: .1s;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    .table thead th {
        background-color: #f5f5f5
    }
    .table tbody tr:hover {
        background-color: #FAFAFA
    }
    .switch-control.disabled label {
        cursor: not-allowed;
        /*background-color: #eee !important*/
    }
    .list-group-item > label {
        font-weight: normal;
        cursor: pointer;
    }
    .list-group-item.disabled > label {
        cursor: not-allowed;
    }
    .table-responsive label {
        font-weight: normal;
    }
}
@media screen and (min-width: 480px) {
    #wrap-notification {
        top: 0;
        margin-top: 60px;
    }
}
@media screen and (max-width: 767px) {
    .hidden-mobile {
        display: none
    }
    .form-login {
        margin: 30px auto 0
    }
    .form-login .panel-body p {
        margin-bottom: 15px
    }
    .fogot-pass-panel button {
        margin-bottom: 10px
    }
    .fogot-pass-panel .pull-right {
        float: left!important;
        margin: 0
    }
}
@media screen and (min-width: 768px) {
    main#main {
        margin-top: 66px;
    }
    .list-navigation li a .text,
    .sidebar hr,
    aside.sidebar .acc-info,
    body:before {
        display: none
    }
    .list-navigation {
        width: 100%;
        position: absolute;
        top: 128px;
    }
    .list-navigation li a .glyphicon {
        margin-right: 0;
    }
    .navigation-lg body,
    aside.sidebar {
        overflow: visible
    }
    .navigation-lg header.header .btn-toggle-nav,
    header.header .btn-toggle-nav {
        position: relative;
        left: auto;
        margin-right: 15px
    }
    .navigation-lg header.header .btn-toggle-nav span,
    header.header .btn-toggle-nav span {
        background-color: #333
    }
    .navigation-lg .list-navigation li a .glyphicon {
        margin-right: 15px;
    }
    .navigation-lg .outer-content,
    .navigation-lg header.header {
        padding-left: 0
    }
    .navigation-lg aside.sidebar {
        width: 240px
    }
    .navigation-lg aside.sidebar .acc-info,
    .navigation-lg aside.sidebar hr {
        display: block
    }
    .navigation-lg aside.sidebar .list-navigation li a .text {
        display: inline
    }
    .navigation-lg #wrapper {
        padding-left: 240px
    }
    .center-form .container {
        width: 100%;
        max-width: 450px;
        margin: 0 auto
    }
    .form-login {
        margin: 50px auto 0
    }
    .form-login .panel {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
    }
    .form-login .panel-title {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        padding: 5px 20px 3px;
        text-align: center;
        text-transform: uppercase
    }
    .form-login .panel-body {
        padding: 20px 20px 5px
    }
    .form-login .panel-body p {
        margin-bottom: 15px
    }
    .wrap-center,
    .wrap-message {
        width: 100%;
        margin: 50px auto
    }
    .wrap-center {
        max-width: 450px
    }
    /*#wrap-notification {
        margin-left: 65px;
    }*/

    #wrap-notification.changed:before {
        right: 65px;
    }
    .homepage .block-item {
        margin: 0 10px 30px;
    }
}
@media screen and (min-width: 992px) {
    #wrap-notification {
        margin-top: 75px;
        bottom: auto;
        overflow-y: visible;
    }
}
@media screen and (min-width: 1200px) {
    .filter-bar .filter-item {
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
    }
}
@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    * {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100%!important
    }
    @page {
        margin: .5cm
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
.date-time-block li + li {
    margin-top: 10px;
}
.date-time-block li > span.text-label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}
.date-time-block .form-control {
    width: 100px;
    display: inline-block;
}
.list-item-chart span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}
.sort-able .ui-sortable-helper,
.sort-able .ui-state-highlight {
    background-color: #fff;
    border: 2px dashed #ddd;
    cursor: move;
}
.sort-able .ui-state-highlight {
    padding-bottom: 200px;
}
#wrap-notification .block-border {
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}
#wrap-notification .block-border ul {
    margin-bottom: 10px;
}
.tree-checkbox label {
    font-weight: 300;
}
.tree-checkbox label input[type="checkbox"] {
    margin-right: 5px;
}
.tree-checkbox .sub-tree {
    display: none;
}
.tree-checkbox li {
    position: relative;
    padding-left: 20px;
}
.tree-checkbox .has-child > button.btn-arrow {
    border: 0;
    background: none;
    position: absolute;
    left: 0;
}
.tree-checkbox .has-child > button.btn-arrow:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
}
.tree-checkbox .has-child.opened > button.btn-arrow {
    top: 3px;
}
.tree-checkbox .has-child.opened > button.btn-arrow:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}
.form-control.not-full {
    width: auto;
}
header.header .btn {
    width: auto !important;
    padding: 6px 12px !important;
    line-height: 1.42857 !important;
    border: 0;
    background: none !important;
    font-size: 20px;
    color: #fff !important;
}
header.header .btn:hover {
    color: #fff !important;
    background-color: transparent !important;
}
header.header .btn .badge {
    margin-left: 5px;
}
.alert.has-button {
    display: table;
    width: 100%;
}
.alert.has-button .text-alert {
    display: table-cell;
    width: 99%;
    padding-right: 15px;
}
.alert.has-button .btn-alert {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
}
.ontwerp-componnent .tab-content {
    margin-bottom: 15px;
}
.ontwerp-componnent .btn-block {
    margin-left: 0;
    width: 49%;
    float: left;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ontwerp-componnent .btn-block:nth-child(even) {
    float: right;
}
.ontwerp-componnent .item-ontwerp {
    position: relative;
    padding: 10px 15px;
    border: 1px dashed transparent;
}
.ontwerp-componnent .item-ontwerp .btn-group {
    position: absolute;
    top: -12px;
    right: 15px;
    display: none;
}
.ontwerp-componnent .item-ontwerp:hover,
.ontwerp-componnent .item-ontwerp:focus {
    border-color: #ddd;
    cursor: pointer;
}
.ontwerp-componnent .item-ontwerp:hover .btn-group,
.ontwerp-componnent .item-ontwerp:focus .btn-group {
    display: block;
}
.picker__select--month,
.picker__select--year {
    height: auto !important;
}
/* Select 2 */

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px !important;
    user-select: none;
    -webkit-user-select: none
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.select2-container .select2-search--inline {
    float: left
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}
.select2-results {
    display: block
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}
.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}
.select2-results__option[aria-selected] {
    cursor: pointer
}
.select2-container--open .select2-dropdown {
    left: 0
}
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-search--dropdown {
    display: block;
    padding: 4px
}
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}
.select2-search--dropdown.select2-search--hide {
    display: none
}
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}
.select2-container--default .select2-results__option[role=group] {
    padding: 0
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white
}
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}
.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}
.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}
.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}
.select2-container--classic .select2-dropdown--below {
    border-top: none
}
.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}
.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}
.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}
.form-control {
    box-shadow: none;
}
div.mce-edit-area {
    padding: 6px 12px !important;
}
.form-horizontal .control-label.text-left {
    text-align: left;
}
table tr.head-fake td {
    font-weight: 700;
    background: #f5f5f5;
}
.form-group em {
    color: red;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
}
.badge {
    background-color: #a94442;
    padding: 4px 7px 2px;
}
#selectDocumentDiv .select2-container,
#selectHomeworkDiv .select2-container {
    width: 100% !important;
}
.homepage .drag-container {
    min-height: 10px;
}
.zoom-img.full-img img {
    width: 100%;
}
.form-horizontal .form-group table tr td {
    padding: 5px 8px;
}
.piezo-form textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    padding: 5px 10px 0;
}
.piezo-form textarea[disabled="disabled"] {
    border: none;
}
.piezo-text > ul {
    list-style: disc;
    margin-left: 13px;
    margin-bottom: 13px;
}

.piezo-text > ul > li > ul {
    list-style: circle;
    margin-left: 13px;
}
.twofactor_container ul {
    list-style: disc;
    margin-left: 13px;
    margin-top: 20px;
}

/*right box*/
.navright_box {
    position: fixed;
    right: 0px;
    bottom: 5px;
    z-index: 9999;
    background-color: #ffffee;
    border-bottom: 1px solid #a0a0a0; 
    border-left: 1px solid #a0a0a0; 
    border-top: 1px solid #a0a0a0;
    box-shadow: 0 0 20px 0 rgba(150, 150, 150, 0.75);
}
.navright_box .arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: #ccc;
    font-size: 20px;
}
.navright_box .arrow i {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
.navright_box .arrow i.hide {
    display: none;
}
.navright_box .content {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
.navright_box .content p {
    margin: 0;
}